/* =============
    About
============= */

#about-me{

    h1{
        text-align: center;
        background-color: var(--blueMidnight);
        color: var(--blueMisty);

    }

    ul{
        @include md{
            margin: 0 64px 0 32px;
        }

        li{
            padding: 8px 16px 0 8px;

            a{
                font-weight: 700;
                color: var(--blueDark);
            }
        }
    }     
}

#cat-gallery-container{

    h1{
        background-color: var(--blueMisty);
        color: var(--blueMidnight);
        margin: 16px 0;
        text-align: center;
    }

    #cat-gallery{

        @include md{
            padding: 0 48px 16px 48px;
        }
        padding: 0 16px 16px 16px;
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 20vh 25vh 25vh 25vh;

        grid-template-areas:
        "g1 g1 g2 g2"
        "g3 g4 g4 g4"
        "g5 g5 g6 g6"
        ". g7 g7 .";

        li{
            background-size: cover;
            // background-position: center;
        }
    } 
    
    #g1{
        grid-area: g1;
        background-image: url("../img/cat1.jpeg");
        background-position: left top;
    }

    #g2{
        grid-area: g2;
        background-image: url("../img/cat2.jpeg");
    }

    #g3{
        grid-area: g3;
        background-image: url("../img/cat3.jpeg");
        background-position: right center;
    }

    #g4{
        grid-area: g4;
        background-image: url("../img/cat4.jpeg");
    }

    #g5{
        grid-area: g5;
        background-image: url("../img/cat5.jpeg");
        background-position: right center;
    }

    #g6{
        grid-area: g6;
        background-image: url("../img/cat6.jpeg");
    }

    #g7{
        grid-area: g7;
        background-image: url("../img/cat7.jpeg");
    }
}  