
#index-philosophy{

    #phonebooth-img{
        height: 70vh;
        background-image: url("../img/Phonebooth.jpg");
        background-size: cover;
        // x = right | center | left
        // y = top | center | bottom
        background-position: center;
        // margin-top: 80px;
}

}