/* =============
    Index
============= */

#index-philosophy{

    // .profile-img{

    //     background-image: url("../img/catonbooks.jpg");
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;

    //     height: 100px;
    //     width: 100px;
    //     border-radius: 100%;
    //     margin: 16px auto 0;
    // }

    h1{
        text-align: center;
        background-color: var(--blueMidnight);
        color: var(--blueMisty);
    }

    #powers-quote{
        text-align: center;
        padding: 16px 12px;
        font-size: rem-calc(17);
        font-weight: 500;
        span{
            font-style: italic;
            font-size: rem-calc(20);
        }
    }

    p{
        text-align: center;
        padding: 0 16px 8px;

        @include md{
            padding: 0 64px 8px 64px;
        }

        @include lg{
            padding: 0 120px 8px 120px;
        }

    }

    #phonebooth-img{

        @include md{
            margin: 0 64px 0 64px;
        }

        @include lg{
            height: 100vh;
            margin: 0 120px 0 120px;
        }

        height: 50vh;
        background-image: url("../img/Phonebooth.jpg");
        background-size: cover;
        // x = right | center | left
        // y = top | center | bottom
        background-position: center;
        // margin-top: 80px;
}

}