/* =============
    Projects
============= */

#coursework{

    h1{
        text-align: center;
        background-color: var(--blueMidnight);
        color: var(--blueMisty);
    }

    h2{
        text-align: center;
        background-color: var(--blueDrexel);
        color: var(--yellowDrexel);

    }
}