/* =============
    Resume
============= */

#my-resume{

    @include md{
        display: grid;
        grid-template-columns: auto 768px auto;
        grid-template-areas:
        ". profile-cat ."
        "resume-h1 resume-h1 resume-h1"
        ". resume-btn ."
        ". resume-head ."
        ". resume-body .";
    }
        #profile-cat{
            @include md{
                grid-area: profile-cat;
            }
        }
        #resume-h1{

            @include md{
                grid-area: resume-h1;
            }
        }
    
    h1{
        text-align: center;
        background-color: var(--blueMidnight);
        color: var(--blueMisty);
    }    
    
        #resume-btn{
            text-align: center;
            padding: 12px;

            @include md{
                grid-area: resume-btn;
            }
    
            // @include lg{
            //     padding-bottom: 24px;
            // }
        }

        #resume-head{
            text-align: center;
            @include md{
                grid-area: resume-head;
            }
        }

        #resume-body{

            padding-left: 8px;

            @include md{
                grid-area: resume-body;
        }

        h3{
            padding-top: 16px;
            font-size: rem-calc(20);
        }

        ul{
            li{
                padding-top: 4px;
                span{
                    font-weight: 600;
                }
            }
        }
    }
}    
  






    // }


// padding-left: 8px;

