/* =============
    Footer
============= */

footer{
    padding-top: 16px;
    text-align: center;

    h2{
        text-align: center;
        background-color: var(--blueMidnight);
        color: var(--blueMisty);

    }

    ul{
        display: flex;
        justify-content: space-between;
        background-color: var(--blueGray);
        margin-top: 8px;
        padding: 8px 0;

        @include md{
            padding: 16px 48px;
        }

        @include lg{
            padding: 16px 128px;
        }
        li{
            a{
                color: var(--white);
            }
        }
    }

    #footer-img{
        height:10vh;
        background-image: url("../img/footerbookshelf.jpg");
        background-size: cover;
        // x = right | center | left
        // y = top | center | bottom
        background-position: left center;
        // margin-top: 80px;

        @include lg{
            height: 20vh;
        }
    }


}
