/* =============
    Base
============= */

ul{
    margin: 0;
    padding: 0;

    li{
        list-style: none;
    }
}

.header-padding{
    padding-top: 40px;

    @include md{
        padding-top: 200px;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

.profile-img{

    background-image: url("../img/catonbooks.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 16px auto 0;
}  

.hide-img{
    display: none;
}

.indent-once{
    padding-left: 16px;
}

.indent-twice{
    padding-left: 32px;
}

/* =============
    Fancy Apps
============= */

.fancybox__container{
    --fancybox-bg: rgb(12 65 96 / 80%);
}