/* =============
    Base
============= */

ul{
    margin: 0;
    padding: 0;

    li{
        list-style: none;
    }
}

.header-padding{
    padding-top: 90px;

    @include md{
        padding-top: 220px;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

.hide-img{
    display: none;
}

.indent-once{
    padding-left: 16px;
}

.indent-twice{
    padding-left: 32px;
}